@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
*{
    font-family: Raleway, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: whitesmoke;
}

.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    transition: 0.5s;
}

.showcase.active{
    right:300px;
}

.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 90px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    cursor: pointer;
    font-size: 2.5em;
}

.logo a{
    text-decoration: none;
    color: whitesmoke;
}
.logo a:hover{
    color: dimgray;
}

.toggle{
    position: relative;
    cursor: pointer;
}

.toggle i{
    font-size: 2.3em;
}


.toggle.active{
}

.toggle:hover{
    color: dimgray;
}


.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: 5;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: black;
    z-index: 2;
}

.text-row{
    padding: 40px 120px;
    justify-content: left;
    align-items: center;
}

.text-col{
    z-index: 10;
}

.text-row .text-col h2{
    font-size: 3em;
    line-height: 1em;
}

.text-row .text-col h3{
    font-size: 1.8em;
}

.smartlinks li a:hover{
    color: dimgray;
    cursor: pointer;
}

.social-row{
    align-items: center;
}

.social-row ul{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    list-style: none;
    padding: 40px 90px;
}


.social li {
    padding: 0 20px 0 20px;
    transition: 0.5s;
    font-size: 1.9em;
 }

.social li a{
    color: whitesmoke;
}

.social li a:hover{
    color: dimgray;
    cursor: pointer;
}

.menu{
    position: absolute;
    top:0;
    right:0;
    width:300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    line-height: 3em;
}
.menu ul{
    list-style: none;
    position: relative;
}

.menu li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 2em;
    cursor: pointer;
}
.menu li a:hover{
    color: dimgray;
}



