/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/*Small devices (landscape phones, 576px and up)*/
/*@media (min-width: 576px) { ... }

/*Medium devices (tablets, 768px and up)*/
/*@media (min-width: 768px) { ... }

/*Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) { ... }

/* X-Large devices (large desktops, 1200px and up) */
/*@media (min-width: 1200px) { ... }

/* XX-Large devices (larger desktops, 1400px and up) */
/*@media (min-width: 1400px) { ... } */




@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
*{
    font-family: Raleway, serif;
    /*margin: 0;
    padding: 0;
    box-sizing: border-box; 
    */
}

body{
    background-color: black;
    color: whitesmoke;
}



.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    /*
    justify-content: space-between;
    align-items: center; */
    z-index: 3;
    transition: 0.2s;
}

@media screen and (min-width: 480px) {}
.showcase.active{
    right:300px;
}

.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: 5;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: black;
    z-index: 2;
}


.underlay{

    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: black;
    opacity: 0.6;
    z-index: 6;
}


/********** Body Content **********/

.container-fluid{
    z-index: 11;
    width: 100%;
    height: 100%;
}

/********* Header **********/
.header-row{
    display: flex;
    justify-content: space-between;
    margin:  5% 3%;
    height: 12%;
}

@media (min-width: 320px) {  
    h2 {font-size:1.8rem;} /*1rem = 16px*/
  }

  @media (min-width: 380px) {  
    h2 {font-size:2.1rem;} /*1rem = 16px*/
  }
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    h2 {font-size:2.4rem;} /*1rem = 16px*/
  }
   
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    h2 {font-size:2.5rem;} /*1rem = 16px*/
  }
   
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    h2 {font-size:2.6rem;} /*1rem = 16px*/
  }
   
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    h2 {font-size:2.7rem;} /*1rem = 16px*/    
  }

.logo-col{
    display: flex;
    justify-content: left;
    padding-top: 2px;
    bottom: 0;
}

.toggle-col{
    display: flex;
    justify-content: right;
    align-items:center;
    padding-top: 2px;
}


.logo{
    cursor: pointer;
    text-decoration: none;
   /* font-size: 2.5em; */
   
}

.logo a{
    text-decoration: none;
    color: whitesmoke;
}
.logo a:hover{
    color: dimgray;
}

.toggle{
    position: relative; 
    cursor: pointer;

}

.toggle i{
    font-size: 2.3em;
}


.toggle.active{
}

.toggle:hover{
    color: dimgray;
}

/******** Header end ********/

/******** BIO Text ********/

.text-row{

    margin: 0% 10% 3% 10%;
    justify-content: left;
    align-items: center;
}
.text-col{
    font-size: 1.2em;
}

/*
.text-row .text-col h2{
    font-size: 3em;
    line-height: 1em;
}

.text-row .text-col h3{
    font-size: 1.8em;
}
*/

/******* Smart links styling *******/

.coverArt-row{
    margin-top: 8%;    
}
.coverArt-col{
    display: flex;
    justify-content: center;
}

.coverArt-col img{
    max-width: 170px;
}

.boyfriendStoreTitle-col{
    margin-top: 29px;
    font-size: 25pt;
    line-height: 1.25em; 
    text-align: center;
}

.newBankeTitle-row{
    margin-top: 2%;
}

.newBankeTitle-col{
    font-size: 14pt;
    font-weight: 400; 
    text-align: center;
}

.smartLinks-col{
    font-weight: 600;
   /* width:100%;*/
    /*max-width: 700px;*/
    /*overflow: hidden;*/
}

.smartLinks-col a{
    text-decoration: none;
    color: inherit;
}


.hyperDspLink{
    display: block;
    box-sizing: border-box;
    text-align: left;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
    background: rgb(255 255 255 / 17%);
    color: white;
    font-size: 15px;
    /* border: 2px solid rgb(255 255 255 / 50%); */
    font-weight: 400;
    transition: .03s;
    overflow: hidden;
}

.hyperShadow {
    box-shadow: 0px 0px 25px rgb(0 0 0 / 35%);
}

/******* Footer *******/

.social-row{
    
    margin:  5% 3%  3% 3%;
   /* height: 12%;
   /* padding-top: 3%
    justify-content: start;
    position: absolute;
    bottom: 0;
    height: 10%; */
}
.social-col{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-col a{
    color: whitesmoke;
    transition: 0.5s;
    font-size: 1.9em;
}

.social-col a:hover{
    color: dimgray;
    cursor: pointer;
}

/********* Contact.html **********/

.form-row{
    align-items: center;
    padding: 7% 0%; 
   /* padding: 40px 120px;*/
}

/********* Menu Section **********/

.menu{
    position: absolute;
    top:0;
    right:0;
   /* width: 300px; */
    width:30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    line-height: 3em;
}
.menu ul{
    list-style: none;
    position: relative;
}

.menu li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 2em;
    cursor: pointer;
}
.menu li a:hover{
    color: dimgray;
}



